.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	display: flex;
	background-color: white;
	margin: 1rem 0;
}

.imageImg {
	height: 100vh;
	overflow: hidden;
	object-fit: cover;
}

.info {
	width: 100%;
	padding: 1rem;
	align-self: center;
}
